<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sky_HR</title>

    <!-- css -->
    <link rel="stylesheet" href="../../public/stylesheets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/stylesheets/bootstrap/dashboard.css">
    <!-- script -->
    <script src="../../public/lib/jquery-3.4.1.min.js"></script>
    <script src="../../public/lib/bootstrap.min.js"></script>
<style>
.collMenu{
    padding: 0 5% 0 5%;
}
.dropdown-toggle{
    font-weight: bold;
}
.font-bold{
    font-weight: bold;
}
.subActive{
    background: #418bca;
}
.subActive a{
    color: #ffffff;
}
.subActive a:hover{
    color: #337ab7;
}


</style>
</head>
<body>
    <% include ./navTop.ejs %>
    <% include ./sidebar.ejs %>
    
    
                
