<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/vw.css"></link>

    <!-- jquery -->
    <script src="/public/lib/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="field pixel">
		<label for="pixel">Enter Your Pixel Unit</label>
		<input id="pixel" name="pixel"  type="number" min="0" class="m-pixel" placeholder="enter your pixel unit"/>		 
	</div>
	<div class="field pixel">
		<label for="vpwidth">Enter Your viewport width</label>
		<input id="vpwidth" name="vpwidth"  type="number" min="0" class="m-vpwidth" placeholder="enter your viewport width"/>		 
	</div>
	<div class="button">
		<a href="javascript:void(0);">Click to get vw unit</a>
	</div>
	<div class="output">
		<label></label>
	</div>
</body>
<!-- js -->
<script src="/public/js/vw.js"></script>
</html>
